In [1]:
import streamlit as st
import pandas as pd
import plotly.express as px

In [3]:
df = pd.read_csv('C:/Users/jonesp/Documents/TripleTen_project/vehicles_us.csv')

In [5]:
df['manufacturer'] = df['model'].apply(lambda x: x.split()[0])

In [9]:
st.header('Data viewer')

DeltaGenerator()

In [11]:
st.dataframe(df)

DeltaGenerator()

In [13]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
 13  manufacturer  51525 non-null  object
dtypes: float64(4), int64(2), object(8)
memory usage: 5.5+ MB